.pfs
  .about
    .box#about
      -# .box__home
      -#   = link_to "H O M E",root_path
      -# .box__title
      -#   = "A b o u t"
      .box__contents
        .box__contents__header
          = "伊東 祐一郎"
        .box__contents__main
          .box__contents__main__first
            .box__contents__main__first__text
              = "1998年11月15日生まれ"
            .box__contents__main__first__text
              = "2019年11月ごろにプログラミングを知る"
            .box__contents__main__first__text
              = "書店でJavaの参考書を購入"
            .box__contents__main__first__text
              = "独学で学び以下のような数当てゲームを作成"
            .box__contents__main__first__image
              = image_tag "firstapp-java.png",width:"90%"
            .box__contents__main__first__text
              = "自らの手でコードを書きプログラムが動くという面白さを知る"
            .box__contents__main__first__text
              = "同時に自分の実力と実務レベルに大きな差があることを知り独学での限界を感じる。"
            .box__contents__main__first__text
              = "自分に合いそうなプログラミングスクールを探す"
          .box__contents__main__second
            .box__contents__main__second__title
              = "2019年12月9日 TECH::EXPERTに入学"
              .box__contents__main__second__text
                = "スクールではメッセージの送信、チャットグループの作成、などができるchat-spaceという名前のアプリを開発"
              .box__contents__main__second__text
                = "chat-spaceを開発する過程で、Html,Css,Ruby,JavaScriptを習得"
              .box__contents__main__second__text
                = "スクールに通ってから2ヶ月ほどで自らの力でWebアプリケーションを作る力が身についた"
          .box__contents__main__third
            .box__contents__main__third__title
              = "興味があること"
            .box__contents__main__third__text
              = "pythonを使用した機械学習"
            .box__contents__main__third__text
          .box__contents__main__bottom
            = "Thank You for Watching!!"
            



