.pf#application
  -# #click
  .roadbiker
    .road-page#roadbiker
      .road-page__home
        = link_to "H O M E",root_path
      .road-page__portfolio
        = link_to "portfolio",pfs_path
      .road-page__title
        = "RoadBiker"
      .road-page__image
        = image_tag "roadbiker.png",width:"500px"
      .road-page__contents
        .road-page__contents__box
          .road-page__contents__box__left
            .road-page__contents__box__left__first
              .road-page__contents__box__left__first__title
                = "ロードバイクの総合的なアプリケーション"
              .road-page__contents__box__left__first__text
                = "ロードバイクの専門的なサイトが欲しかったので自ら作成"
              .road-page__contents__box__left__first__text
                = "主な機能として検索機能、投稿機能、通報機能がある"
            .road-page__contents__box__left__second
              .road-page__contents__box__left__second__title
                = "制作期間"
              .road-page__contents__box__left__second__text
                = "2020年1月中ごろから2020年2月末"
              .road-page__contents__box__left__second__text
                = "ただし、1月29日から2月21日の間はチーム開発が多忙だったため開発を中断"
          .road-page__contents__box__right
            .road-page__contents__box__right__first
              .road-page__contents__box__right__first__title
                = "使用技術"
              .road-page__contents__box__right__first__text
                = "html,css,jquery,ruby,rails"
            .road-page__contents__box__right__second
              .road-page__contents__box__right__second__title
                = "アプリの実際の動作確認"
              .road-page__contents__box__right__second__text
                = "url:http~~~~"


